# Gradle
.gradle/
build/
**/build/

# Local configuration (sdk path etc.)
local.properties

# Logs
*.log

# Android Studio
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# IntelliJ / AS
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
workspace.xml
gradle.xml
assetWizardSettings.xml
navigation.xml

# Keystore files (keep private)
*.jks
*.keystore

# Firebase / Google Services
google-services.json
*.plist

# Profiling
*.hprof

# OS Generated
.DS_Store
Thumbs.db

# --------------------------
# PYTHON / ML ADDITIONS
# --------------------------

# Python Cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ml_env/
.env

# Large Model Weights (Training checkpoints)
# We exclude these to save space, but keep the deployed .ptl file
*.pth
*.pt
*.h5
*.ckpt
*.onnx

# Datasets (Images)
ml/Tomato Leaf Disease*/
ml/dataset/
/data/

# IDE specific for Python
.vscode/

# --------------------------
# CLOUD FUNCTIONS
# --------------------------
functions/node_modules/
functions/firebase-debug.log
functions/firebase-debug.*.log
functions/.env
functions/.env.*
functions/coverage/
